.Header {
    background-color: teal;
    color: white;
    text-transform: uppercase;
    padding: 2em;
}

.Header nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s;
    font-weight: bold;
}

.Header nav a:hover {
    color: black;
}